@page "/"


<AuthorizeView>
    <Authorized>
        <h1>¡Bienvenido!</h1>
        <p>
        Muchas gracias por autenticarte, ahora puedes <NavLink class="nav-link" href="urls">Administrar URLs</NavLink>
        </p>
    </Authorized>
    <NotAuthorized>
        <h1>¡Bienvenido!</h1>
        <p>
        Para poder administrar tus URLs, por favor iniciar sesión.
        </p>
    </NotAuthorized>
</AuthorizeView>